@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --ct-color-bg-primary: #fff;
  --ct-color-bg-secundary: #f78b00;
  --ct-color-bg-tertiary: #00285f;
  --ct-color-bg-card: #ededed;

  --ct-color-font-primary: #00285f;
  --ct-color-font-secundary: #fff;
  --ct-color-font-terciary: #000;
  --ct-color-font-quaternary: #585858;

  --ct-color-font-placeholder: #a7a7a7;

  --ct-color-search-bar-border: #a7a7a7;

  --ct-color-btn-primary: #00285f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

html,
body {
  background-color: var(--ct-color-bg-primary);
}

main {
  padding: 0 10px;
}

@media (min-width: 576px) {
  main {
    padding: 0 20px;
  }
}

/*-------------------------------------------------------*/
/* generic styles*/

.ct-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}